<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright 2017 Movie
    <br>Design by
    <a href="http://mingjuandong-blog.logdown.com" target=_new>Dongmingjuan</a>
  </p>
</footer>
